body {
  background-color: white;
  color: #474747;
  font-family: "Roboto", sans-serif;
}

p {
  text-align: center;
}

.margin {
  margin-top: 25px;
}

.animalBtn {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
}

#animal-form {
  /*float: right;*/
  font-size: 17px;
}

#animal-input,
#addAnimal,
.animalBtn {
  font-size: 17px;
}

#animals {
  padding: 5%;
}
